
<p>{{ title }}</p>

@for (trans of transactions; track $index) {
    <mat-checkbox class="example-margin"></mat-checkbox>

   T{{ trans.id }} - {{ getTransactionStr(trans) }}
    <br>
}

<br>

<button (click)="buildHistory(transactions2)">Gerar História Inicial</button>

<br>

@if (initialHistory.step.length > 0 ) {

    <p>História Inicial</p>

    HI - {{ getInitialHistory() }}
    
}

<br>

@if (allExecuted) {

    <p>História Final</p>

    HF - {{ getFinalHistory() }}
    
}

<router-outlet></router-outlet>
